{{ template "header.html" }}
  <main>
    <a href="tests" class="card_index" role="link" tabindex="0" aria-labelledby="cloud-enterprise-title">
      <h2 id="cloud-enterprise-title">Cloud &amp; Enterprise</h2>
      <p>Visualize your Test Setup. Use Labels in ThousandEyes to group your graphs.</p>
      <span class="button" aria-hidden="true">Start</span>
    </a>

    <a href="#" class="card_index" role="link" tabindex="0" aria-labelledby="endpoint-title">
      <h2 id="endpoint-title">Endpoint</h2>
      <p>Stay tuned. Work in progress!</p>
      <button class="button" disabled>Start</button>
    </a>

    <a href="#" class="card_index" role="link" tabindex="0" aria-labelledby="alert-rules-title">
      <h2 id="alert-rules-title">Alert Rules</h2>
      <p>Stay tuned. Work in progress!</p>
      <button class="button" disabled>Start</button>
    </a>
  </main>
</body>
{{ template "footer.html" }}