{{ template "header.html" }}
<body>
<div id="app">
    <div class="container py-4 px-3 mx-auto">
    <div class="form-container">
        <h2>TEST - ThousandEyes PoV Visualizer</h2>
        <form action="/submit" method="POST" id="teForm">
		    <div class="form-floating mb-3">
            <input type="text" class="form-control" id="userInput" v-model="query" name="userInput" placeholder="name@example.com" required>
            <label for="floatingInput">Bearer Token</label>
        	</div>
            <button type="button" id="getAG" @click="getAccountGroups" class="btn btn-primary me-3">Get Account-Groups</button>
            <br>
            <div id="dropdown" class="d-flex justify-content-center d-none">
                <p>Account Group: 
                <select id="ag" name="ag"></select>
                </p>
            </div>
            <hr>
            <div id="graphSettings" class="d-none">
            <p>Graph Direction:</p>
            <div class="form-check">
              <input class="form-check-input" type="radio" value="LR" name="radioDirection" id="radioDirection1" checked>
              <label class="form-check-label" for="radioDefault1">Left-to-Right</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" value="TD" name="radioDirection" id="radioDirection2">
              <label class="form-check-label" for="radioDefault2">Top-Down</label>
            </div>
            <br>
            <p>Look:</p>
            <div class="form-check">
              <input class="form-check-input" type="radio" value="classic" name="radioDefault" id="radioDefault1" checked>
              <label class="form-check-label" for="radioDefault1">classic</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" value="handDrawn" name="radioDefault" id="radioDefault2">
              <label class="form-check-label" for="radioDefault2">handDrawn</label>
            </div>
            <br>
            
            <button type="submit" id="submitBtn" class="btn btn-primary me-3" disabled>Create Diagrams</button>
            <div class="d-flex justify-content-center d-none" id="loading-spinner">
              <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
            </div>

        <br><br>
        <div class="alert alert-info" role="alert">
            It can take a few seconds (10-25s) for the result page to load when you click the <b>Submit</b>-Button. Just be patient!
        </div>
            </div>
        </form>

    </div>
	</div>
</div>
</body>
{{ template "footer.html" }}